{% extends "shopping_app/base.html" %}


{% block body_block %}

<div class="jumbotron">
    <a type="submit"  href="{% url 'shopping_app:register' %}" class="btn btn-primary register">Register</a>
    <form action="{% url 'shopping_app:user_login' %}" method = "post" >
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username">

        <label for="password">Password:</label>
        <input type="text" name="password">

        <input type="submit" value="Login">


    </form>
</div>

{% endblock %}