.status-msg {
padding-left: 15px;
}


.box:checked + label {
  text-decoration: line-through;
  color: #adb5bd;
}


.btn-edit {
background-color: green;
color: white;
margin-left: 5px;
}

.btn-delete {
background-color: red;
color: white;
margin-left: 5%;

}

.price-info {
color:teal;
font-weight: bold;

body {
padding-left: 5px;
}